@model Library.Models.AdminAddEditModel
@{
    ViewBag.Title = "Изменить информацию о книге";
}

<h2 class="header">Изменить информацию о книге</h2>
<div class="container view">
    @{Html.BeginForm();}
    <fieldset>
        @Html.ValidationSummary(true)
        <div class="editor-field">
            <label>
                Название
                @Html.TextBoxFor(model => model.RecordName, new { @class = "input-field" })
            </label>
            @Html.ValidationMessageFor(model => model.RecordName)
        </div>
        <div class="editor-field">
            <label>
                Описание
                @Html.TextBoxFor(model => model.RecordDescription, new { @class = "input-field" })
            </label>
            @Html.ValidationMessageFor(model => model.RecordDescription)
        </div>
        <div class="editor-field">
            <label>
                Автор книги
                @Html.TextBoxFor(model => model.RecordAuthor, new { @class = "input-field" })
            </label>
            @Html.ValidationMessageFor(model => model.RecordAuthor)
        </div>
        <div class="editor-field">
            <label>
                ISBN
                @Html.TextBoxFor(model => model.ISBN, new { @class = "input-field" })
            </label>
            @Html.ValidationMessageFor(model => model.ISBN, " ")
        </div>
        <div class="editor-field">
            <label>
                Дата создания
                @Html.TextBoxFor(model => model.CreationDate, new { @class = "input-field", @type = "date" })
            </label>
            @Html.ValidationMessageFor(model => model.CreationDate, " ")
        </div>
        <div class="editor-field">
            <label>
                Кол-во страниц
                @Html.TextBoxFor(model => model.NumberOfPages, new { @class = "input-field" })
            </label>
            @Html.ValidationMessageFor(model => model.NumberOfPages, " ")
        </div>
        <div class="editor-field">
            <label>
                Аннотация
                @Html.TextBoxFor(model => model.Annotation, new { @class = "input-field" })
            </label>
            @Html.ValidationMessageFor(model => model.Annotation, " ")
        </div>
       
        <div class="editor-field">
            <label>
                Издательство
                @Html.DropDownListFor(model => model.PublisherId, Model.Publishers, "Новое издательство:", new { @class = "dropdown" })
            </label>
            @Html.ValidationMessageFor(model => Model.Publishers)
        </div>
        <div class="editor-field">
            <label>
                Избранное
                @Html.CheckBoxFor(model => model.Recomended)
            </label>
            @Html.ValidationMessageFor(model => Model.Recomended)
        </div>

        <div id="newPublisher">
            <div>
                <div>
                    <br>
                    <h3>Добавить новое издательство:</h3>
                </div>
                <div class="editor-field">
                    <label>
                        Название
                        @Html.TextBoxFor(model => model.PublisherName, new { @class = "input-field" })
                    </label>
                    @Html.ValidationMessageFor(model => model.PublisherName)
                </div>
                <div class="editor-field">
                    <label>
                        Адрес
                        @Html.TextBoxFor(model => model.PublisherAddress, new { @class = "input-field" })
                    </label>
                    @Html.ValidationMessageFor(model => model.PublisherAddress)
                </div>
                <div class="editor-field">
                    <label>
                        Телефон
                        @Html.TextBoxFor(model => model.PublisherNumber, new { @class = "input-field" })
                    </label>
                    @Html.ValidationMessageFor(model => model.PublisherNumber)
                </div>
                <div class="editor-field">
                    <label>
                        Email
                        @Html.TextBoxFor(model => model.PublisherEmail, new { @class = "input-field" })
                    </label>
                    @Html.ValidationMessageFor(model => model.PublisherEmail)
                </div>
            </div>
        </div>
        <div class="btn btn-success file-upload">
            <span>Файл</span>
            <input type="file" class="upload" />
        </div>
        <input type="submit" value="Сохранить" class="btn btn-success" />
        <div class="editor-field">
            @Html.ActionLink("Удалить", "Delete", "Records", new { id = Url.RequestContext.RouteData.Values["id"] }, new { @class = "btn btn-danger delete-book" })
        </div>
    </fieldset>
    @{Html.EndForm();}
</div>