@model Library.Models.AdminAddEditModel
@{
    ViewBag.Title = "Изменить информацию о книге";
}

<h2>Изменить данные о книге</h2>
@{Html.BeginForm();}
<fieldset>
    @Html.ValidationSummary(true)
    <div class="editor-field">
        <label>Название</label>
        @Html.TextBoxFor(model => model.RecordName)
        @Html.ValidationMessageFor(model => model.RecordName)
    </div>
    <div class="editor-field">
        <label>Описание</label>
        @Html.TextBoxFor(model => model.RecordDescription)
        @Html.ValidationMessageFor(model => model.RecordDescription)
    </div>
    <div class="editor-field">
        <label>Автор книги</label>
        @Html.TextBoxFor(model => model.RecordAuthor)
        @Html.ValidationMessageFor(model => model.RecordAuthor)
    </div>
    <div>
        <label>Издательство</label>
        @Html.DropDownListFor(model => model.PublisherId, Model.Publishers, "Новое издательство:")
        @Html.ValidationMessageFor(model => Model.Publishers)
    </div>
    <div>
        <br>
        <label>Добавить новое издательство:</label>
    </div>
    <div class="editor-field">
        <label>Название издательства</label>
        @Html.TextBoxFor(model => model.PublisherName)
        @Html.ValidationMessageFor(model => model.PublisherName)
    </div>
    <div class="editor-field">
        <label>Адрес издательства</label>
        @Html.TextBoxFor(model => model.PublisherAddress)
        @Html.ValidationMessageFor(model => model.PublisherAddress)
    </div>
    <div class="editor-field">
        <label>Контактный телефон издательства</label>
        @Html.TextBoxFor(model => model.PublisherNumber)
        @Html.ValidationMessageFor(model => model.PublisherNumber)
    </div>
    <div class="editor-field">
        <label>Email издательства</label>
        @Html.TextBoxFor(model => model.PublisherEmail)
        @Html.ValidationMessageFor(model => model.PublisherEmail)
    </div>
    <input type="file" name="fileUpload" /><br />
    <input type="submit" value="Отправить" />
</fieldset>
@{Html.EndForm();}