@model Library.Models.Record

    <div>
        <h4>Record</h4>
        <hr />
        <dl class="dl-horizontal">
            <label> Название: </label>
            <h5>@Html.DisplayFor(model => model.RecordName)</h5>
            <label> Описание: </label>
            <h5>@Html.DisplayFor(model => model.RecordDescription)</h5>
            <label> Автор: </label>
            <h5>@Html.DisplayFor(model => model.AuthorName)</h5>
            <label> ISBN: </label>
            <h5>@Html.DisplayFor(model => model.ISBN)</h5>
            <label> Дата создания: </label>
            <h5>@Html.DisplayFor(model => model.CreationDate)</h5>
            <label> Количество страниц: </label>
            <h5>@Html.DisplayFor(model => model.NumberOfPages)</h5>
            <label> Аннотация: </label>
            <h5>@Html.DisplayFor(model => model.Annotation)</h5>
                @if (File.Exists(System.IO.Path.Combine(AppDomain.CurrentDomain.BaseDirectory + "Data/", Model.RecordName + ".pdf")))
                {
                    @Html.ActionLink("Скачать бесплатно и без СМС", "downloadFile", "Records", new { id = Model.RecordId }, new { @class = "btn btn-success" })
                }
                else
                {
                    @Html.ActionLink("Хрен вам", "downloadFile", "Records", new { id = Model.RecordId }, new { @class = "disabled btn btn-danger" })
                }
        </dl>
    </div>

