@model Library.Models.Record

<h2>Информация о книге</h2>
<div class="container view">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Название:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.RecordName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Описание:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.RecordDescription)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Автор:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.AuthorName)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>ISBN:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.ISBN)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Дата создания:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.CreationDate)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Количество страниц:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.NumberOfPages)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Аннотация:</h3>
        </div>
        <div class="col-md-9 col-sm-9 record-field">
            @Html.DisplayFor(model => model.Annotation)
        </div>
    </div>
    <div class="row">
        @if (File.Exists(System.IO.Path.Combine(AppDomain.CurrentDomain.BaseDirectory + "Data/", Model.RecordName + ".pdf")))
        {
            <div class="col-md-3 col-sm-3">
                @Html.ActionLink("Скачать", "downloadFile", "Records", new { id = Model.RecordId }, new { @class = "btn btn-success" })
            </div>
        }
        else
        {
            <div class="col-md-3 col-sm-3">
                @Html.ActionLink("Недоступно", "downloadFile", "Records", new { id = Model.RecordId }, new { @class = "disabled btn btn-danger" })
            </div>
        }
    </div>
</div>

