@model Library.Models.AdminEditModel
@{
    ViewBag.Title = "Изменить информацию о книге";
}

<h2>Изменить данные о книге</h2>
@{Html.BeginForm();}
<fieldset>
    <div class="editor-field">
        <label>Название</label>
        @Html.TextBoxFor(model => model.record.RecordName)
        @Html.ValidationMessageFor(model => model.record.RecordName)
    </div>
    <div class="editor-field">
        <label>Описание</label>
        @Html.TextBoxFor(model => model.record.RecordDescription)
        @Html.ValidationMessageFor(model => model.record.RecordDescription)
        
    </div>
    <div class="editor-field">
        <label>Название издательства</label>
        @Html.TextBoxFor(model => model.publisher.PublisherName)
        @Html.ValidationMessageFor(model => model.publisher.PublisherName)
        
    </div>
    <div class="editor-field">
        <label>Адрес издательства</label>
        @Html.TextBoxFor(model => model.publisher.Address)
        @Html.ValidationMessageFor(model => model.publisher.Address)
        
    </div>
    <div class="editor-field">
        <label>Контактный телефон издательства</label>
        @Html.TextBoxFor(model => model.publisher.Number)
        @Html.ValidationMessageFor(model => model.publisher.Number)
        
    </div>
    <div class="editor-field">
        <label>Email издательства</label>
        @Html.TextBoxFor(model => model.publisher.Email)
        @Html.ValidationMessageFor(model => model.publisher.Email)
    </div>
    <input type="submit" value="Изменить" />
</fieldset>
@{Html.EndForm();}