
@model Library.Models.AdminLoginModel
@{
    ViewBag.Title = "Админка";
}

<h2> Управление библиотекой </h2>
<div class="view admin">
    <div>
        @Html.ActionLink("Добавить новую книгу", "Add", "Records", null, new { @class = "btn btn-success" }) 
    </div>
    <div>
        @Html.ActionLink("Добавить новую книгу", "Add", "Records", null, new { @class = "btn btn-success" })
    </div>
    <div>
        @Html.ActionLink("Добавить новую книгу", "Add", "Records", null, new { @class = "btn btn-success" })
    </div>
    <div>
        @Html.ActionLink("Добавить новую книгу", "Add", "Records", null, new { @class = "btn btn-success" })
    </div>
    <div>
        @Html.ActionLink("Добавить новую книгу", "Add", "Records", null, new { @class = "btn btn-success" })
    </div>
    <div>
        @Html.ActionLink("Добавить новую книгу", "Add", "Records", null, new { @class = "btn btn-success" })
    </div>
</div>