@model Library.Models.Admin
@{
    ViewBag.Title = "ВОЙДИТЕ";
}

<h2>Логинимся, ребята</h2>
@{Html.BeginForm();}
<fieldset>
    @Html.AntiForgeryToken()
    <div class="editor-field">
        <label>Логин</label>
        @Html.TextBoxFor(admin => admin.Login)
        @Html.ValidationMessageFor(admin => admin.Login)
    </div>
    <div class="editor-field">
        <label>Пароль</label>
        @Html.TextBoxFor(admin => admin.Password)
        @Html.ValidationMessageFor(admin => admin.Password)
    </div>   
    <input type="submit" value="GO ON" />
</fieldset>
@{Html.EndForm();}