@model Library.Models.AdminLoginModel
@{
    ViewBag.Title = "Вход для администратора";
}

<div class="login-password">
    <h2>Введите логин и пароль</h2>
    <div class="view">
        @{Html.BeginForm();}
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="editor-field">
                <label>
                    Логин
                    @Html.TextBoxFor(admin => admin.Login, new { @class = "input-field" })
                </label>
                @Html.ValidationMessageFor(admin => admin.Login)
            </div>
            <div class="editor-field">
                <label>
                    Пароль
                    @Html.TextBoxFor(admin => admin.Password, new { @class = "input-field", @type = "password" })
                </label>
                @Html.ValidationMessageFor(admin => admin.Password)
            </div>
            <input type="submit" value="Войти" class="btn btn-success" />
        </fieldset>
        @{Html.EndForm();}
    </div>

</div>